* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #111;
  color: @text-color;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: @primary-color;
  font-family: "Teko", sans-serif;
}

a {
  color: @text-color;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}
img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 87vh;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: inset 120px 100px 250px #000000,
      inset -120px -100px 250px #000000;
  }

  .showcase-top {
    position: relative;
    height: 90px;
    z-index: 5;

    img {
      padding-top: 2rem;
      width: 270px;
      position: absolute;
      top: 50%;
      left: 6%;
      transform: translate(-50%, -50%);
    }

    a {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }
  }

  .showcase-content {
    position: relative;
    margin: auto;
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;

    h1 {
      font-weight: 500;
      font-size: 5.8rem;
      line-height: 1.1;
      margin: 0 0 2rem;
    }

    p {
      text-transform: uppercase;
      color: @text-color;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.25;
      margin: 0 0 2rem;
    }
  }
}

// tabs

.tabs {
  background: @background-color;
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;

    @media @mobile {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }

    div:hover {
      color: @primary-color;
      cursor: pointer;
      .easeOut;
    }
  }

  p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }

  .tab-border {
    border-bottom: @primary-color 4px solid;
  }
}

// Tab content
.tab-content {
  padding: 3rem 0;
  background: #111;
  color: @text-color;
  margin: auto;
  width: 85%;

  img {
    height: 150px;
    width: auto;
    border-radius: 100px;
  }

  /* Hide content initially */
  #tab-1-content,
  #tab-2-content,
  #tab-3-content {
    display: none;
  }
  .show {
    display: block !important;
  }

  #tab-1-content .tab-1-content-inner {
    .superPosition(center, center);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15rem;
  }

  #tab-2-content .tab-2-content-top {
    .superPosition(center, center);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  #tab-2-content .tab-2-content-bottom {
    .superPosition(center, center);
    margin-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

//Table
.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;

  thead th {
    text-transform: uppercase;
    padding: 0.8rem;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

    tr {
      &:nth-child(odd) {
        background: #222;
      }

      td {
        color: #999;
        padding: 0.8rem 1.2rem;
        text-align: center;

        &:first-child {
          text-align: left;
        }
      }
    }
  }
}

// Footer
.foot-container {
  background: @background-color;
  border-top: 3px solid #3d3d3d;
  .footer {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
    background: @background-color;

    a {
      color: @text-color;
      font-size: 0.9rem;

      &:hover {
        color: @primary-color;
      }
    }

    p {
      margin-bottom: 5rem;
    }

    .footer-cols {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
    }

    li {
      line-height: 1.9rem;
    }
  }
}

// container

// text styles

.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text-sm {
  width: 100%;
  font-size: 1.1rem;
  text-align: left;
  padding-bottom: 2rem;
  color: @text-color;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: @secondary-color;
  padding-bottom: 3rem;
}

//buttons

.btn {
  display: inline-block;
  background: @primary-color;
  color: @text-color;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;

  &:hover {
    opacity: 0.8;
    .easeOut;
  }

  .btn-rounded {
    border-radius: 5px;
  }

  .btn-xl {
    font-size: 2rem;
    padding: 1.5rem, 2.1rem;
    text-transform: uppercase;
  }

  .btn-lg {
    font-size: 1rem;
    padding: 0.8rem, 1.3rem;
    text-transform: uppercase;
  }
}
//Tablet
@media @tablet {
  .showcase {
    height: 95vh;
  }

  .tabs {
    padding-bottom: 0.1rem;
  }

  .hide-sm {
    display: none;
  }

  .showcase .showcase-top img {
    top: 52%;
    left: 18%;
    // transform: translate(0);
  }

  .showcase-content {
    h1 {
      font-size: 3.7rem;
      line-height: 1;
    }

    p {
      font-size: 1.5rem;
    }
  }

  //Mobile Tab Content
  .tab-content {
    padding: 1rem 0;
    margin: auto;
    width: 55%;

    .tab-content .container {
      display: flex;
    }

    // .tabcontent .tab-1-content-inner img {
    //   display: none;
    // }

    #tab-1-content .tab-1-content-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 120%;
      padding: 1px 25px 0px 11px;
    }

    #tab-2-content .tab-2-content-top {
      .superPosition(center, center);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
    #tab-2-content .tab-2-content-bottom {
      .superPosition(center, center);
      margin-top: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }
  }

  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn-xl {
    font-size: 2rem;
    padding: 1.4rem 2rem;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }

  .text-md {
    font-size: 1rem;
  }
}
// Mobile Header
@media @mobile {
  .showcase {
    height: 120vh;
  }

  .tabs {
    padding-bottom: 0.1rem;
  }

  .hide-sm {
    display: none;
  }

  .showcase .showcase-top img {
    top: 52%;
    left: 18%;
    // transform: translate(0);
  }

  .showcase-content {
    h1 {
      font-size: 3.7rem;
      line-height: 1;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .btn-xl {
    font-size: 2rem;
    padding: 1.4rem 2rem;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }

  .text-md {
    font-size: 1rem;
  }

  .foot-container .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(../img/stars.png) repeat top center;
  z-index: 3;
}

.twinkling {
  background: transparent url(../img/twinkling.png) repeat top center;
  z-index: 3;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(../img/clouds1.png) repeat top center;
  z-index: 3;
  animation: move-clouds-back 200s linear infinite;
  opacity: 0.4;
}
